<mat-card>
  <mat-card-header>
    <mat-card-title>Wishlist for {{ wishlist.ownerName }}</mat-card-title>
    <mat-card-subtitle>added on {{ wishlist.dateAdded | date: longDate }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column">
    <div fxLayout="row">
      <mat-accordion fxLayout="column" fxFlex="70">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              New present
            </mat-panel-title>
            <mat-panel-description>
              Add a new present to your wishlist
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-add-present (newPresent)="addPresent($event)"></app-add-present>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            Filter presents
          </mat-expansion-panel-header>
          <app-filter-present (newFilter)="filterPresentName$.next($event)"></app-filter-present>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <h3 mat-subheader>Presents:</h3>
    <mat-list fxFlexFill fxLayout="column">
      <mat-list-item *ngFor="let present of (wishlist.presents | presentFilter: filterPresentName)">
        <app-present fxFlexFill fxLayoutAlign="center center" [present]="present"></app-present>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
