<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['robbedec']">profile</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a style="color:inherit;text-decoration:none" [routerLink]="['']"><span>Secret santa</span></a>
      <span class="fill-space"></span>
      <span *ngIf="(loggedInUser$ | async) as user">{{ user }} 
          
      </span>
      <a class="topnav-icon" [routerLink]="['user']"><mat-icon>account_circle</mat-icon></a>
      <a class="topnav-icon"><mat-icon>mail_outline</mat-icon></a>
      <a class="topnav-icon"><mat-icon>language</mat-icon></a>
      <a (click)="logout()" class="topnav-icon" [routerLink]="['/login']">
        <mat-icon>exit_to_app</mat-icon>
      </a>
      
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
