<form [formGroup]="present" (ngSubmit)='onSubmit()' fxLayout="column">
  <mat-form-field>
    <input matInput aria-label="name" placeholder="name" type="text" formControlName="name" required/>
  </mat-form-field>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex="50">
        <input matInput aria-label="price" placeholder="price" type="number" formControlName="price" required/>
        <span matPrefix>€&nbsp;</span>
    </mat-form-field>
    <mat-form-field fxFlex="50">
      <mat-select placeholder="Category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
  </div>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    <button fxFlex="50" type="submit" mat-raised-button [disabled]="!present.valid">add present</button>
    <button fxFlex="20" mat-raised-button>clear</button>
  </div>
</form>