<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxLayout="column" fxFlex="20">
        <img style="width:100%;margin:0;margin-bottom:15px;border-radius:5px" src="{{user.avatarUrl}}"/>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
        <mat-divider style="position:relative; margin-bottom:10px;"></mat-divider>
        <button mat-stroked-button>Edit</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxFlex="80">
        <mat-tab-group fxFlex="80">
          <mat-tab label="Wishlist">
            <mat-list fxFlexFill fxLayout="column">
              <mat-list-item *ngFor="let present of user.wishlist.presents">
                <div fxFlexFill fxLayoutAlign="center center"> 
                  <div fxFlex="60">{{ present.name }}</div>  
                  <div fxFlex="20">€{{ present.price }}</div>
                  <div fxFlex="20">{{present.category}}</div>
                  <mat-divider></mat-divider>
                </div>

              </mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="Messages">Content</mat-tab>
          <mat-tab label="Information">Content</mat-tab>
        </mat-tab-group>
      </div>

    </div>
  </mat-card-content>
</mat-card>
