<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['robbedec']">profile</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a style="color:inherit;text-decoration:none" [routerLink]="['/dashboard']"><span>Secret santa</span></a>
      <span class="fill-space"></span>
      <span *ngIf="(loggedInUser$ | async)?.username as user">{{ user }}

      </span>
      <a class="topnav-icon" matTooltip="Mijn account" [routerLink]="['user.username']">
        <mat-icon>account_circle</mat-icon>
      </a>
      <a class="topnav-icon" matTooltip="Groep verlaten">
        <mat-icon>group</mat-icon>
      </a>
      <button class="topnav-icon" matTooltip="Berichten" (click)="leaveGroup()">
        <mat-icon>mail_outline</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Taal veranderen" class="topnav-icon" [matMenuTriggerFor]="language">
        <mat-icon>language</mat-icon>
      </button>

      <mat-menu #language="matMenu">
        <button mat-menu-item (click)="changeLang('en')">
          <span>{{ 'English' | translate }}</span>
        </button>
        <button mat-menu-item (click)="changeLang('nl')">
          <span>{{ 'Dutch' | translate }}</span>
        </button>
        <button mat-menu-item (click)="changeLang('en')">
          <span>{{ 'French' | translate }}</span>
        </button>
      </mat-menu>

      <a (click)="logout()" matTooltip="Uitloggen" class="topnav-icon" [routerLink]="['/login']">
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
