<mat-card fxLayout="column" fxLayoutGap="2%">
  <ng-container *ngIf="group; else elseBlock">
    <div fxLayout="row" fxLayoutGap="2%">
      <mat-card fxFlex="40"></mat-card>
      <mat-card fxFlex="60">
        <mat-card-header>
          <mat-card-title>{{ 'Groupchat' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ng-container *ngIf="group?.messages">
            <mat-divider></mat-divider>
            <div *ngFor="let message of group.messages">
              <span>{{ message.content }}</span>
              <mat-card-subtitle>{{ message.user.name }}</mat-card-subtitle>
              <mat-divider></mat-divider>
            </div>
            <a mat-raised-button style="margin-top:20px">{{ 'Add_Comment' | translate }}</a>
          </ng-container>

        </mat-card-content>
      </mat-card>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ 'Group' | translate }} {{ group?.groupName }} ({{ group?.members.length }})
          {{ 'Members' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row wrap" fxLayoutGap="5%">
        <mat-card-title fxLayout="column" fxFlex="20" *ngFor="let member of group?.members">
          <a [routerLink]="['/' + member.username]"><img
              style="width:100%;margin:0;margin-bottom:15px;border-radius:5px" src="{{member.avatarUrl}}" /></a>
          <mat-card-subtitle style="text-align:center;font-weight: bold">{{ member.username }}</mat-card-subtitle>
        </mat-card-title>
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #elseBlock>
    <mat-card-header>
      <mat-card-title>{{ 'Groups' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let group of groups">
        <div fxFlex="20"><img style="width:100%;margin:0;margin-bottom:15px;border-radius:5px"
            src="https://avatars2.githubusercontent.com/u/7189764?s=400&v=4" />
          <mat-card-subtitle style="text-align: center;font-weight: bold">{{ group.groupName }}</mat-card-subtitle>
          <a (click)="joinGroup(group.id)" style="width:100%" mat-raised-button>{{ 'Join_group' | translate }}</a>
        </div>
      </ng-container>
    </mat-card-content>
  </ng-template>
</mat-card>
